/* bottom navigation, selcted item color */
.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #146C94 !important;
}

/* bottom navigation,  item color */
.css-1bjk3jo-MuiButtonBase-root-MuiBottomNavigationAction-root{
  color: #19a7ce70 !important;
}



.css-1oqqzyl-MuiContainer-root {
  max-width:100% !important;
}